---
---

<section id="section" class="w-full py-24 border-t border-[#ffffff10]">
    <div class="max-w-5xl mx-auto">
        <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">Articles</h2>
        <h3 class="text-4xl text-white md:text-5xl font-medium mb-8">Blog</h3>
        <div class="flex w-full h-48 border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl">
            <div class="w-1/3 h-full">
                <img class="h-full rounded-xl rounded-r-none" src="public/coming-soon.png" alt="asdasd">
            </div>
            <div class="w-2/3 h-ful rounded-xl rounded-l-none">
                <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">Articles</h2>
            </div>
        </div>
        <div class="flex w-full h-48 border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl">
            <div class="w-1/3 h-full">
                <img class="h-full rounded-xl rounded-r-none" src="public/coming-soon.png" alt="asdasd">
            </div>
            <div class="w-2/3 h-ful rounded-xl rounded-l-none">
                <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">Articles</h2>
            </div>
        </div>
        <div class="flex w-full h-48 border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl">
            <div class="w-1/3 h-full">
                <img class="h-full rounded-xl rounded-r-none" src="public/coming-soon.png" alt="asdasd">
            </div>
            <div class="w-2/3 h-ful rounded-xl rounded-l-none">
                <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">Articles</h2>
            </div>
        </div>
</section>